/** Variables ############### */
:root {
	--white: #ffffff;
	--white_off: #f0f8ff;
	--silver: silver;
	--gray: #788ea1;
	--black: #000000;
	--brown: #d06f40;
	--carmel: #c76331;
	--red: #ff0000;
	--orange: #ffa500;
	--yellow: #ffff00;
	--green: #008000;
	--blue: #0000ff;
	--indigo: #4b0082;
	--violet: #ee81ee;
	--highlight: silver;
}

/** Reset ###############  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/** Body & Container */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 100%;
}

/** Header ############### */
header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 1em;
}

h1 {
	color: var(--green);
}

/** Main ############### */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.message {
	width: 15rem;
	height: auto;
	text-align: center;
	color: var(--violet);
	background-color: var(--white_off);
	padding: 0.5em;
	margin-bottom: 1em;
}

.moves {
	color: var(--gray);
}

.move-counter {
	margin-left: 0.5em;
	color: var(--indigo);
}

.grid-turtles {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 90%;
	margin-top: 1rem;
}

.turtle {
	justify-self: center;
}

.turtle-0 {
	width: 14vw;
	height: auto;
	grid-row: 1;
	grid-column: 1;
	background-color: var(--violet);
	background-image: url(./noun_turtle_1189418.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.turtle-1 {
	width: 16vw;
	height: auto;
	grid-row: 2;
	grid-column: 1;
	background-color: var(--indigo);
	background-image: url(./noun_turtle_1189418.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.turtle-2 {
	width: 18vw;
	height: auto;
	grid-row: 3;
	grid-column: 1;
	background-color: var(--blue);
	background-image: url(./noun_turtle_1189418.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.turtle-3 {
	width: 20vw;
	height: auto;
	grid-row: 4;
	grid-column: 1;
	background-color: var(--green);
	background-image: url(./noun_turtle_1189418.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.turtle-4 {
	width: 22vw;
	height: auto;
	grid-row: 5;
	grid-column: 1;
	background-color: var(--yellow);
	background-image: url(./noun_turtle_1189418.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.turtle-5 {
	width: 24vw;
	height: auto;
	grid-row: 6;
	grid-column: 1;
	background-color: var(--orange);
	background-image: url(./noun_turtle_1189418.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.turtle-6 {
	width: 26vw;
	height: 14vw;
	grid-row: 7;
	grid-column: 1;
	background-color: var(--red);
	background-image: url(./noun_turtle_1189418.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.board-base {
	display: flex;
	justify-content: center;
	max-width: 75rem;
}

.base {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25rem;
	height: 2rem;
	background-color: var(--gray);
	border: 0.05em solid var(--silver);
}

.base > p {
	color: var(--white);
	pointer-events: none;
}

.directions {
	margin-top: 1em;
	color: var(--violet);
}

ul {
	margin-top: 0.5em;
}

li {
	list-style-type: circle;
	list-style-position: inside;
	color: var(--gray);
}

.reset-btn {
	color: var(--green);
	font-size: 1.5em;
	width: 5em;
	margin-top: 1em;
	border: 0.1em solid var(--silver);
	box-shadow: 0.1em 0.1em 0.1em var(--gray);
	border-radius: 8%;
}

/** lvfha ############### */
button:focus,
button:hover {
	color: var(--violet);
	box-shadow: 0.1em 0.1em 0.1em var(--violet);
}

button:active {
	color: var(--orange);
	background-color: var(--gray);
	box-shadow: 0 0 0.1em var(--orange);
}

/** Media queries ############### */
/** media greater >= 1440px  */
@media all and (min-width: 1440px) {
}

/** media less than 1000px  */
@media all and (max-width: 999px) {
}

/** media less than 768px  */
@media all and (max-width: 767px) {
}

/** media less than 600px  */
@media all and (max-width: 599px) {
}
