/** Variables ############### */
:root {
	--white: #ffffff;
	--white_off: #f0f8ff;
	--silver: silver;
	--gray: #788ea1;
	--black: #000000;
	--brown: #d06f40;
	--carmel: #c76331;
	--red: red;
	--orange: orange;
	--yellow: yellow;
	--green: green;
	--blue: blue;
	--indigo: indigo;
	--violet: violet;
	--highlight: silver;
}

/** Fonts ###############  */
/** font-family: 'Poppins', sans-serif; */
/** font-family: 'Lato', sans-serif; */
/* @import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap"); */

/** Reset ###############  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/** Body & Container */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 100vw;
	height: 100vh;
}

/** Header ############### */
header {
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	padding: 1em;
}

h1 {
	color: var(--green);
}

/** Main ############### */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.message {
	width: 30vw;
	height: 7vw;
	text-align: center;
	color: var(--violet);
	background-color: var(--white_off);
	padding: 0.5em;
	margin-bottom: 1em;
}

.moves {
	color: var(--gray);
}

.move-counter {
	margin-left: 0.5em;
	color: var(--indigo);
}

.grid-turtles {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90vw;
	margin-top: 10vh;
}

.turtle {
	height: 2em;
	border: 0.05em solid var(--white);
	justify-self: center;
}

.turtle-0 {
	width: 16vw;
	background-color: var(--violet);
	grid-row: 1;
	grid-column: 1;
}

.turtle-1 {
	width: 18vw;
	background-color: var(--indigo);
	grid-row: 2;
	grid-column: 1;
}

.turtle-2 {
	width: 20vw;
	background-color: var(--blue);
	grid-row: 3;
	grid-column: 1;
}

.turtle-3 {
	width: 22vw;
	background-color: var(--green);
	grid-row: 4;
	grid-column: 1;
}

.turtle-4 {
	width: 24vw;
	background-color: var(--yellow);
	grid-row: 5;
	grid-column: 1;
}

.turtle-5 {
	width: 26vw;
	background-color: var(--orange);
	grid-row: 6;
	grid-column: 1;
}

.turtle-6 {
	width: 28vw;
	background-color: var(--red);
	grid-row: 7;
	grid-column: 1;
}

.board-base {
	display: flex;
	justify-content: center;
	width: 90vw;
}

.base {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30vw;
	height: 4vh;
	background-color: var(--gray);
	border: 0.05em solid var(--silver);
}

.base > p {
	color: var(--white);
	pointer-events: none;
}

.directions {
	margin-top: 5em;
	color: var(--violet);
}

ul {
	margin-top: 0.5em;
}

li {
	list-style-type: circle;
	list-style-position: inside;
	color: var(--gray);
}

/** Media queries ############### */
/** media greater >= 1440px  */
@media all and (min-width: 1440px) {
}

/** media less than 1000px  */
@media all and (max-width: 999px) {
}

/** media less than 768px  */
@media all and (max-width: 767px) {
}

/** media less than 600px  */
@media all and (max-width: 599px) {
}

/** lvfha ############### */
a:link,
a:visited {
	color: var(--gray-light);
	text-decoration: none;
}

a:focus,
a:hover {
	color: var(--red-rijks);
	text-decoration: underline;
}

a:active {
	color: var(--gray-darkest);
	text-decoration: underline;
}
